extends layouts/main-layout.pug

block content
    .card
        .carousel
                img(src="/images/sfiducia.webp", alt="Image 1")
                img(src="/images/sfiducia1.webp", alt="Image 2")
                img(src="/images/bias.webp", alt="Image 3")
                img(src="/images/bias1.webp", alt="Image 4")
                img(src="/images/bias2.webp", alt="Image 5")
                img(src="/images/bias3.webp", alt="Image 6")
                img(src="/images/bias4.webp", alt="Image 7")
                img(src="/images/psico.webp", alt="Image 8")
                img(src="/images/psico1.webp", alt="Image 9")
                img(src="/images/psico2.webp", alt="Image 10")
                img(src="/images/psico3.webp", alt="Image 11")
                img(src="/images/psico4.webp", alt="Image 12")
                img(src="/images/fallacie.webp", alt="Image 13")
                img(src="/images/fallacie1.webp", alt="Image 14")
                img(src="/images/fallacie2.webp", alt="Image 15")
                img(src="/images/fallacie3.webp", alt="Image 16")
                img(src="/images/fallacie4.webp", alt="Image 17")
                img(src="/images/retorica.webp", alt="Image 18")
                img(src="/images/retorica1.webp", alt="Image 19")
                img(src="/images/retorica2.webp", alt="Image 20")
                img(src="/images/retorica3.webp", alt="Image 21")
                img(src="/images/faq.webp", alt="Image 22")
                img(src="/images/faq1.webp", alt="Image 23")
                img(src="/images/faq2.webp", alt="Image 24")


        .carousel-controls
                button.prev-btn Previous
                button.next-btn Next

    script.
        const carousel = document.querySelector('.carousel');
        const prevBtn = document.querySelector('.prev-btn');
        const nextBtn = document.querySelector('.next-btn');
        let currentIndex = 0;

        function slideTo(index) {
            const slideWidth = carousel.querySelector('img').clientWidth;
            carousel.style.transform = `translateX(-${slideWidth * index}px)`;
        }

        prevBtn.addEventListener('click', () => {
            currentIndex = (currentIndex - 1 + carousel.children.length) % carousel.children.length;
            slideTo(currentIndex);
        });

        nextBtn.addEventListener('click', () => {
            currentIndex = (currentIndex + 1) % carousel.children.length;
            slideTo(currentIndex);
        });
