extends layouts/main-layout.pug

block content

    .buttonAndImageContainer
        button#randomButton1 Carta probabilità
        button#randomButton2 Carta imprevisti
        img#randomImage(src="", alt="")

    block scripts
        script(src="/js/card.js")