extends layouts/main-layout.pug

block content    

    button#markNotificationsAsRead
        | Segna tutte come già lette

    .resultsContainer



block scripts
    script(src="/js/notificationsPage.js")