extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Register
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="Name and surname", value=firstName required="")
            input(type="text", name="username", placeholder="Username", value=username required="")
            input#password(type="password", name="password", placeholder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
            <input type="hidden" id="bio" name="bio">

            <select name="profilePic" onchange="visualizzaImmagineSelezionata()" required="">
                <option value="">Select profile picture</option>
                <option data-immagine="/images/volpe2.jpg" value="/images/volpe2.jpg" data-bio="Bio per Topolino">Volpe</option>
                <option data-immagine="/images/gufo2.jpg" value="/images/gufo2.jpg" data-bio="Bio per Pluto">Gufo</option>
                <option data-immagine="/images/mantide2.jpg" value="/images/mantide2.jpg" data-bio="Bio per Paperino">Mantide Religiosa</option>
                <option data-immagine="/images/ant2.jpg" value="/images/ant.jpg" data-bio="Bio per Paperino">Formica</option>

            </select>

            <div id="immagineSelezionata"></div>
           
            input(type="submit", value="Register")

        a(href="/login") Already have an account? Login here.
    
    script.
        var passwordField = document.getElementById("password")
        var passwordConfirmField = document.getElementById("passwordConf")
        var form = document.getElementById("registerForm")

        function validateForm() {
            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.")
            }
            else {
                form.submit();
            }
        }

        function visualizzaImmagineSelezionata() {
            var select = document.querySelector('select[name="profilePic"]');
            var immagineSelezionata = select.options[select.selectedIndex].getAttribute('data-immagine');
            var bio = select.options[select.selectedIndex].getAttribute('data-bio');
            if(immagineSelezionata === null){
                document.getElementById('immagineSelezionata').innerHTML = '';
            }else{
            document.getElementById("immagineSelezionata").innerHTML = '<img src="' + immagineSelezionata + '">';
            }
            document.getElementById("bio").value = bio;
        }