extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Register
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="Name and surname", value=firstName required="")
            input#username(type="text", name="username", placeholder="Username", value=username required="")
            input#password(type="password", name="password", placeholder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
            <input type="hidden" id="bio" name="bio">

            input(type="hidden", id="profilePic", name="profilePic")

            input(type="submit", value="Register")

            a(href="/login") Already have an account? Login here.
    
    script.
        var passwordField = document.getElementById("password")
        var passwordConfirmField = document.getElementById("passwordConf")
        var form = document.getElementById("registerForm")
        var usernameField = document.getElementById("username")

        function validateForm() {         

            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.")
            } else if(usernameField.value.includes("'")){
                alert("Username cannot includes '")
            }
            else {
                form.submit();
            }
        }

                // Array of image options
        const imageOptions = [
            { value: "/images/marlene.jpg", bio: "Bio per Marlene Dietrich" },
            { value: "/images/poirot.jpg", bio: "Bio per Mr. Poirot" },
            { value: "/images/marple.jpg", bio: "Bio per Miss Marple" },
            { value: "/images/bond.jpg", bio: "Bio per James Bond" },
            { value: "/images/mata.jpg", bio: "Bio per Mata Hari" },
            { value: "/images/bianca.jpg", bio: "Bio per Bianca Castafiore" },
            { value: "/images/lupin.jpg", bio: "Bio per Arsenio Lupin" },
            { value: "/images/sandokan.jpg", bio: "Bio per Sandokan" },
            { value: "/images/rasputin.jpg", bio: "Bio per Rasputin" },
            { value: "/images/sherlock.jpg", bio: "Bio per Sherlock" },
            { value: "/images/nemo.jpg", bio: "Bio per Nemo" },
            { value: "/images/diabolik.jpeg", bio: "Bio per Diabolik" },
            { value: "/images/kant.jpg", bio: "Bio per Kant" },
            { value: "/images/fantomette.jpeg", bio: "Bio per Fantomette" },
            { value: "/images/oscar.jpeg", bio: "Bio per Lady Oscar" },
            { value: "/images/roger.jpeg", bio: "Bio per Roger Rabbit" },
            { value: "/images/jessica.png", bio: "Bio per Jessica Rabbit" },
            { value: "/images/malefica.jpg", bio: "Bio per Malefica" },
            { value: "/images/tremal.jpg", bio: "Bio per Tremal-Naik" },
            { value : "images/strega.jpg", bio: "Bio per la strega di Biancaneve"},
            { value: "/images/fletcher.jpg", bio: "Bio per Jessica Fletcher" },
            { value: "/images/farquaad.png", bio: "Bio per Lord Farquaad" },
            { value: "/images/indianajones.jpg", bio: "Bio per Indiana Jones" },
            { value: "/images/jessica.jpg", bio: "Bio per Jessica Jones" },
            { value: "/images/chuck.jpeg", bio: "Bio per Chuck" },
            { value: "/images/baker.jpg", bio: "Bio per Simon Baker" }
        ];

        // Function to select a random image
        function selectRandomImage() {
            const randomIndex = Math.floor(Math.random() * imageOptions.length);
            const selectedImage = imageOptions[randomIndex];
            document.getElementById("profilePic").value = selectedImage.value;
            document.getElementById("bio").value = selectedImage.bio;
        }

        selectRandomImage();


