extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Register
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="Name and surname", value=firstName required="")
            input(type="text", name="username", placeholder="Username", value=username required="")
            input#password(type="password", name="password", placeholder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
            <input type="hidden" id="bio" name="bio">

            input(type="hidden", id="profilePic", name="profilePic")

            input(type="submit", value="Register")

            a(href="/login") Already have an account? Login here.
    
    script.
        var passwordField = document.getElementById("password")
        var passwordConfirmField = document.getElementById("passwordConf")
        var form = document.getElementById("registerForm")

        function validateForm() {
            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.")
            }
            else {
                form.submit();
            }
        }

                // Array of image options
        const imageOptions = [
            { value: "/images/gufetto.jpg", bio: "Bio per il gufo" },
            { value: "/images/volpe2.jpg", bio: "Bio per la volpe" },
            { value: "/images/mantide2.jpg", bio: "Bio per la mantide" },
            { value: "/images/ant2.jpg", bio: "Bio per la formica" },
            { value: "/images/farfalla.png", bio: "Bio per la farfalla" }
        ];

                // Function to select a random image
        function selectRandomImage() {
            const randomIndex = Math.floor(Math.random() * imageOptions.length);
            const selectedImage = imageOptions[randomIndex];
            document.getElementById("profilePic").value = selectedImage.value;
            document.getElementById("bio").value = selectedImage.bio;
        }

        selectRandomImage();


