extends layouts/login-layout.pug

block content
    .loginContainer
        h3 Benvenuta/o su Glitter!

        h6
        | Crea il tuo ‘profilo complottista’ scegliendo un 
        strong nome
        | , 
        strong cognome
        |  e 
        strong nickname
        |  rigorosamente di fantasia.
        h6
        | Buon divertimento!

        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="Name and surname", value=firstName required="")
            input#username(type="text", name="username", placeholder="Username", value=username required="")
            input#password(type="password", name="password", placeholder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
            <input type="hidden" id="bio" name="bio">

            input(type="hidden", id="profilePic", name="profilePic")

            input(type="submit", value="Register")

            a(href="/login") Already have an account? Login here.
    
    script.
        var passwordField = document.getElementById("password")
        var passwordConfirmField = document.getElementById("passwordConf")
        var form = document.getElementById("registerForm")
        var usernameField = document.getElementById("username")

        function validateForm() {         

            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.")
            } else if(usernameField.value.includes("'")){
                alert("Username cannot includes '")
            }
            else {
                form.submit();
            }
        }

                // Array of image options
        const imageOptions = [
            { value: "/images/marlene.webp", bio: "Bio per Marlene Dietrich" },
            { value: "/images/poirot.webp", bio: "Bio per Mr. Poirot" },
            { value: "/images/marple.webp", bio: "Bio per Miss Marple" },
            { value: "/images/bond.webp", bio: "Bio per James Bond" },
            { value: "/images/mata.webp", bio: "Bio per Mata Hari" },
            { value: "/images/bianca.webp", bio: "Bio per Bianca Castafiore" },
            { value: "/images/lupin.webp", bio: "Bio per Arsenio Lupin" },
            { value: "/images/sandokan.webp", bio: "Bio per Sandokan" },
            { value: "/images/rasputin.webp", bio: "Bio per Rasputin" },
            { value: "/images/sherlock.webp", bio: "Bio per Sherlock" },
            { value: "/images/nemo.webp", bio: "Bio per Nemo" },
            { value: "/images/diabolik.webp", bio: "Bio per Diabolik" },
            { value: "/images/kant.webp", bio: "Bio per Kant" },
            { value: "/images/fantomette.webp", bio: "Bio per Fantomette" },
            { value: "/images/oscar.webp", bio: "Bio per Lady Oscar" },
            { value: "/images/roger.webp", bio: "Bio per Roger Rabbit" },
            { value: "/images/jes.webp", bio: "Bio per Jessica Rabbit" },
            { value: "/images/malefica.webp", bio: "Bio per Malefica" },
            { value: "/images/tremal.webp", bio: "Bio per Tremal-Naik" },
            { value: "/images/strega.webp", bio: "Bio per la strega di Biancaneve"},
            { value: "/images/fletcher.webp", bio: "Bio per Jessica Fletcher" },
            { value: "/images/farquaad.webp", bio: "Bio per Lord Farquaad" },
            { value: "/images/indianajones.webp", bio: "Bio per Indiana Jones" },
            { value: "/images/jessica.webp", bio: "Bio per Jessica Jones" },
            { value: "/images/chuck.webp", bio: "Bio per Chuck" },
            { value: "/images/baker.webp", bio: "Bio per Simon Baker" }
        ];

        // Function to select a random image
        function selectRandomImage() {
            const randomIndex = Math.floor(Math.random() * imageOptions.length);
            const selectedImage = imageOptions[randomIndex];
            document.getElementById("profilePic").value = selectedImage.value;
            document.getElementById("bio").value = selectedImage.bio;
        }

        selectRandomImage();


