extends layouts/main-layout.pug

block content

    .post
        h5 Sei stato bloccato!
        h5 Attendi <span id="countdown"></span> secondi
        
        script.
            var countdown = #{tempo};
            document.body.style.pointerEvents = "none";


            var timer = setInterval(function(){
                countdown--;

                document.getElementById("countdown").innerHTML = countdown;
                    if (countdown <= 0) {
                        clearInterval(timer);
                        document.body.style.pointerEvents = "auto";
                        location.href = "/";
                    }

            }, 1000);
